.change-password-info-con {
  padding: 10px 20px 20px 20px;
}

.change-password-info-btn {
  margin-top: 120px;

  &__con {
    display: flex;
    justify-content: flex-end;
    padding: 20px 20px 30px 20px;

    &__btn {
      background: #37a000;
      border: 1px solid #37a000;
      border-radius: 4px;
      color: #fff;
      cursor: pointer;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 160%;
      padding: 9px 25px;

      &:hover {
        color: #37a000;
        background: #fff;
      }
    }
  }
}

.form-select:focus {
  box-shadow: 0 0 0 0.2rem #ace28f;
  border-color: 1px #37a000;
  border: 1px solid white;
  outline: none !important;
}

::placeholder {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #cecece;
}

.navbar_center {
  position: relative;
}

.search_header {
  font-size: 1.4rem;
  height: 4rem;
  padding: 0rem 0rem 0 4rem;
  color: #828282;
  font-weight: 500;
  background: #f9f9f9;
  border: 1px solid #ced4da;
}

.input-group-text {
  border: 1px solid #ced4da;
}

.form-control-chnage-password {
  display: block;
  height: 5rem;
  padding: 0.375rem 0.75rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-clip: padding-box;
  appearance: none;
  border-radius: 0.6rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-appearance: none;
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid #ced4da;
  width: 100%;
}

.form-control-chnage-password:focus {
  box-shadow: 0 0 0 0.2rem #ace28f;
  border-color: 1px #37a000;
  border: 1px solid white;
  outline: none !important;
}

.change-password-info-con {
  &__inputText {
    position: relative;
  }
}

.pass-eye-icon-pass {
  font-size: 15px;
  position: absolute;
  top: 52px;
  right: 15px;
}
