.upload-form-group-con {
  padding: 0px 20px;
}

.innr-bottm-upload-resource {
  padding: 20px 0px;
}

.listofschool:hover {
  background-color: #37a000;
}

.form-select {
  height: 50px;
  font-size: 1.5rem;
  border-color: #e4e4e4;
}

.des-group.form-control {
  height: 100%;
}

.des-group.form-control:focus {
  background: #e4e9ee;
}

.form-group-con {
  margin-top: 25px;
}

.uploadresource-cancel-btn {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
  color: #37a000;
  padding: 9px 44px;
  border: 1px solid #37a000;
  border-radius: 6px;
  background-color: white;
}

.uploadresource-cancel-btn:hover {
  background-color: #37a000;
  color: white;
}

.uploadresource-continue-btn {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
  background-color: #37a000;
  padding: 9px 44px;
  border: 1px solid #37a000;
  border-radius: 6px;
  color: white;
  margin-left: 10px;
}

.uploadresource-continue-btn:hover {
  background-color: white;
  color: #37a000;
}

.price-flow-check {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #404145;
  margin: 20px 10px;
}

.upload_img {
  margin-top: 100px;
}

.upload_btn {
  margin-top: 54px;
  margin-bottom: 51px;
}

.upload-doc-btn {
  padding: 11px 41px;
  background: #37a000;
  border: 1px solid #37a000;
  border-radius: 6px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #ffffff;
}

.upload-doc-btn:hover {
  background: #ffffff;
  color: #37a000;
}

.modal-content {
  width: 634px;
  height: 457px;
  padding: 0px;
  border-radius: 0px;
}

.model-header-content-con {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__img-con {
    cursor: pointer;
    padding: 20px;
  }

  &__head {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #404145;
    padding-left: 10px;
  }
}

.modal-img-con {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;

  &__img {
    width: 130px;
  }
}

.bid-model-content-text {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: #404145;
  margin-top: 20px;
}

.bid-modal-btn-con {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-control:focus {
  box-shadow: 0 0 0 0.2rem #ace28f;
  border-color: 1px #37a000;
  border: 1px solid white;
  outline: none !important;
}

.form-select:focus {
  box-shadow: 0 0 0 0.2rem #ace28f;
  border-color: 1px #37a000;
  border: 1px solid white;
  outline: none !important;
}

::placeholder {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #cecece;
}
